/*body{
		background: url(../images/bg_new.png) no-repeat;
		 -moz-background-size:cover;
	    -webkit-background-size:cover;
	    -o-background-size:cover;
	    background-size:cover;
		//opacity:0.8;
	}*/